.header {
    position: relative;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    min-height: 75%;
    display: inline-block;
    width: auto;
}

.display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.padding-large {
    padding: 12px 24px;
}

.w3-border {
    border: 1px solid #ccc;
}

.w3-wide {
    letter-spacing: 4px;
}

.w3-text-light-grey {
    color: #f1f1f1;
}

.light-grey {
    color: #000 !important;
    background-color: #f1f1f1 !important;
}

.image {
    max-width: 100%;
    height: auto;
}

.bar {
    overflow: hidden;
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

.button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.round {
    border-radius: 4px;
}

.display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}

.hide-large {
    display: none !important;
}

.hide-medium {
    display: none !important;
}

.hide-small {
    display: none !important;
}

.padding-16{padding-top:16px!important;padding-bottom:16px!important}